<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ensure direct access to "dev" directory works
  RewriteRule ^dev/?$ dev/ [L]

  # Allow URLs with letters, numbers, dots, hyphens, and underscores
  RewriteRule ^([\w\-.]+)/?$ public/$1 [L]

  # Redirect everything else to public/
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]
</IfModule>
